.addNewProduct {
    margin-top: 2rem;
}

.addNewProduct-title {
    font-size: 30px;
    margin-right: .5rem;
    font-weight: bold;
}

.addNewProduct-inputs {
    margin: 1.5rem 0;
    background-color: var(--white);
    padding: 1rem 0;
    border-radius: .5rem;

}

.addNewProduct-inputs-item {
    width: 47.4%;

    height: 3rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--white-50);
    margin: 1rem;
    padding: 0 1rem;
    font-weight: bold;

}

.addNewProduct-inputs-btn {
    text-align: end;
    margin: 0 2rem;

}

.addNewProduct-inputs-btn-record {
    width: 8rem;
    height: 3rem;
    border: none;
    font-size: 20px;
    border-radius: .5rem;
    background-color: var(--teal);
    color: var(--white);
}

.addNewProduct-inputs-btn-record:hover {
    background-color: var(--teal-100);
}