@import "./reset.css";

:root {
    --white: #ffffff;
    --white-50: #f0f0f0;
    --teal-100: #034d22;
    --teal: #008080;
    --gray: #808080;
    --gray-100: #414141;
    --red: #cc0b0b;
    --red-100: #7f0202;
}

body {
    background-color: var(--white-50);
}

*,
body,
html {}